.baza {
    margin: 10px auto;
}

.title {
    text-align: center;
}

.body-text {
    font-size: 30px;
    margin: 10px auto;
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}

.keyboard {
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: cadetblue;
    border: 3px solid #222222;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.keyboard .row {
    display: flex;
    justify-content: space-between;
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}

.keyboard .key {
    /* float: left; */
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ddd;
    background-color: #444444;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
}

.keyboard .key:hover {
    background-color: black;
}

.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ShiftLeft {
    width: 100px;
}

.keyboard .Enter,
.keyboard .ShiftRight {
    width: 86px;
}

.keyboard .Space {
    width: 330px;
}

@keyframes click {
    from {
        border-radius: 3px;
        background: linear-gradient(45deg, black, transparent);
    }

    to {
        border-radius: 10px;
        background: black;
    }
}

.onclick {
    animation: click 0.2s;
}

.active {
    border-radius: 10px;
    background: black;
}